@font-face {
  font-family: RobotoSlab;
  src: url(../fonts/RobotoSlab-Regular.ttf); }

@font-face {
  font-family: RobotoSlab_bd;
  src: url(../fonts/RobotoSlab-Bold.ttf); }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf); }
