@import url(reset.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

h4 {
  font: 28px/26px PFEncoreSansPro_rg;
  text-transform: uppercase;
  color: #868686; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.block {
  width: 100%; }

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .content {
      padding: 20px; } }

.header_bg {
  background: url(../img/header_bg.png) no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden; }

.logo {
  margin: 22px; }
  @media screen and (max-width: 768px) {
    .logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.nav_bar {
  margin-right: 22px; }
  @media screen and (max-width: 550px) {
    .nav_bar {
      margin-right: 0px; } }
  .nav_bar ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px; }
    @media screen and (max-width: 550px) {
      .nav_bar ul li {
        display: block;
        text-align: center;
        margin: 20px; } }
    .nav_bar ul li a {
      font: 100 16px/15px PFEncoreSansPro_lt;
      text-transform: uppercase;
      color: #fff; }
      .nav_bar ul li a:hover {
        padding-bottom: 5px;
        color: #fc635e;
        border-bottom: 2px solid red;
        -webkit-transition: 0.5s all;
        transition: 0.5s all; }

.header_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .header_flex {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      flex-flow: column; } }

.nav_bar,
.btn_header,
.header_txt,
.nav_btn_header,
.can_u_block,
.can_u_txt,
.nav_btn_red,
.title_we_do {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nav_bar ul,
  .btn_header ul,
  .header_txt ul,
  .nav_btn_header ul,
  .can_u_block ul,
  .can_u_txt ul,
  .nav_btn_red ul,
  .title_we_do ul {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

.text_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 27px; }

.header_txt {
  margin-top: 192px; }

.header_txt h2 {
  font: 51px/36px PFEncoreSansPro_bd;
  text-transform: uppercase;
  color: white; }
  @media screen and (max-width: 925px) {
    .header_txt h2 {
      font: 50px PFEncoreSansPro_bd;
      text-align: center; } }
  .header_txt h2 span {
    color: #fc635e; }

.line_txt {
  height: 8px;
  margin: 0 10px 0 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.some_text_header {
  color: white;
  font: 24px/26px PFEncoreSansPro_lt; }
  @media screen and (max-width: 768px) {
    .some_text_header {
      text-align: center; } }

.header_btn_clients {
  width: 205px;
  border: 2px solid #fc635e;
  border-radius: 7px;
  background: transparent;
  color: #fc635e;
  font: 24px PFEncoreSansPro_lt;
  cursor: pointer;
  padding: 20px 0 18px;
  outline: none; }
  .header_btn_clients:hover {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }

.btn_header {
  margin-top: 48px;
  position: relative; }

.form_header:after {
  content: '';
  background: url(../img/mouse_header.png) no-repeat;
  width: 131px;
  height: 400px;
  position: absolute;
  right: 25%;
  top: 19px; }
  @media screen and (max-width: 975px) {
    .form_header:after {
      right: 15%; } }
  @media screen and (max-width: 715px) {
    .form_header:after {
      right: 0; } }
  @media screen and (max-width: 515px) {
    .form_header:after {
      display: none; } }

.nav_btn_header {
  margin-top: 240px; }

.btn_arrow_red {
  background: url(../img/arrow_red.png) no-repeat;
  width: 28px;
  height: 28px;
  border: 0px solid;
  outline: none;
  margin-bottom: 28px;
  cursor: pointer; }
  .btn_arrow_red:hover {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }

.can_u_block {
  margin: 67px 0 5px; }
  .can_u_block h4 {
    border-bottom: solid 2px #adadad;
    padding-bottom: 5px; }
  .can_u_block span {
    color: #fc635e; }
  @media screen and (max-width: 768px) {
    .can_u_block {
      text-align: center; } }

.can_u_txt {
  margin: 25px 0 80px; }
  .can_u_txt p {
    color: #adadad;
    font: 20px/26px PFEncoreSansPro_lt;
    width: 44%; }
    @media screen and (max-width: 768px) {
      .can_u_txt p {
        text-align: center; } }

.boxes {
  width: 214px;
  text-align: center;
  margin-bottom: 51px; }
  .boxes:hover {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06); }
  @media screen and (max-width: 860px) {
    .boxes {
      margin: 40px auto; } }

.boxes:hover .box1 {
  display: none; }

.boxes:hover .box2 {
  display: block; }

.tit_hr {
  height: 2px;
  width: 57px; }

.tit_of_boxes {
  margin-top: 21px;
  color: #868686;
  font: 20px PFEncoreSansPro_rg;
  text-transform: uppercase; }

.text_of_boxes {
  margin-top: 22px;
  color: #adadad;
  font: 15px/18px PFEncoreSansPro_lg; }

.block_can {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 860px) {
    .block_can {
      display: block; } }

.box2 {
  display: none; }

.btn_arrow_w {
  background: url(../img/arrow_w.png) no-repeat;
  width: 28px;
  height: 28px;
  border: 0px solid;
  outline: none;
  margin-bottom: 28px;
  cursor: pointer; }
  .btn_arrow_w:hover {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }

.nav_btn_can {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.business_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.bg_businnes {
  width: 100%;
  background: url(../img/bg_business.png) no-repeat;
  background-size: cover; }

.block_of_business {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  margin: 91px 0 53px;
  width: 940px;
  border: 8px solid rgba(19, 19, 19, 0.1); }

.title_business {
  font: 51px/18px PFEncoreSansPro_bd;
  text-transform: uppercase;
  color: #fc635e;
  margin: 133px 0 51px; }
  .title_business span {
    color: white; }
  @media screen and (max-width: 768px) {
    .title_business {
      font: 45px PFEncoreSansPro_bd; } }

.btn_business {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 205px;
  height: 56px;
  border: 3px solid #fc635e;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
  outline: none;
  color: #fc635e;
  font: 24px/26px PFEncoreSansPro_lt;
  margin-bottom: 108px; }
  .btn_business:hover {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

.btn_arrow_red {
  background: url(../img/arrow_red.png) no-repeat;
  width: 28px;
  height: 28px;
  border: 0px solid;
  outline: none;
  margin-bottom: 28px;
  cursor: pointer; }
  .btn_arrow_red:hover {
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }

.title_process {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin: 51px 0 57px; }
  .title_process span {
    font: 28px/26px PFEncoreSansPro_rg;
    text-transform: uppercase;
    color: #fc635e; }

.tit_txt_process {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-bottom: 2px solid #adadad;
  padding-bottom: 5px; }

.txt_process {
  color: #adadad;
  font: 20px/26px PFEncoreSansPro_lt;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 25px; }
  @media screen and (max-width: 768px) {
    .txt_process {
      text-align: center; } }

.lg_img_process {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.img_process {
  width: 78%;
  height: 28%; }

.bg_we_do {
  background-color: #f2f2f2; }

.tit_txt_we_do {
  margin: 60px 0 75px; }

.tit_txt_we_do {
  padding-bottom: 5px;
  border-bottom: 2px solid #adadad; }
  .tit_txt_we_do span {
    color: #fc635e; }

.landing_work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

.title_works {
  color: #868686;
  font: 28px/26px PFEncoreSansPro_rg;
  text-transform: uppercase;
  border-left: 10px solid #fc635e;
  padding: 10px 0 10px 12px;
  margin-bottom: 20px; }
  @media screen and (max-width: 897px) {
    .title_works {
      text-align: center;
      border-bottom: 10px solid #fc635e;
      border-left: 0px solid; } }

.txt_works {
  width: 392px;
  color: #9e9898;
  font: 15px/24px PFEncoreSansPro_lt; }
  @media screen and (max-width: 897px) {
    .txt_works {
      text-align: center;
      width: 100%; } }

.btn_details {
  width: 167px;
  height: 44px;
  border: 0px solid;
  background-color: #fc635e;
  border-radius: 6px 7px 7px 6px;
  cursor: pointer;
  color: #f2f2f2;
  font: 20px/26px PFEncoreSansPro_lt;
  outline: none;
  margin-top: 39px; }
  .btn_details:hover {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  @media screen and (max-width: 897px) {
    .btn_details {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

.block_of_works {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 48px; }

.block_of_advertising {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 134px 0 105px; }
  @media screen and (max-width: 897px) {
    .block_of_advertising {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-flow: column-reverse;
      -ms-flex-flow: column-reverse;
      flex-flow: column-reverse; } }

.block_txt_advertising {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }
  @media screen and (max-width: 897px) {
    .block_txt_advertising {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

.advertising {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }
  @media screen and (max-width: 897px) {
    .advertising {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

@media screen and (max-width: 897px) {
  .block_img_advertising {
    width: 60%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; } }

@media screen and (max-width: 600px) {
  .block_img_advertising {
    width: 80%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; } }

@media screen and (max-width: 320px) {
  .block_img_advertising {
    width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; } }

.adver_bd {
  border-left: 0px solid;
  border-right: 10px solid #fc635e;
  padding: 10px 12px 10px 0; }
  @media screen and (max-width: 897px) {
    .adver_bd {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      border-bottom: 10px solid #fc635e;
      border-right: 0px solid; } }

.adver_tx {
  text-align: right; }
  @media screen and (max-width: 897px) {
    .adver_tx {
      text-align: center;
      width: 100%; } }

.block_of_marketing {
  padding-top: 123px;
  margin-bottom: 48px; }

.block_of_marketing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.tit_porfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 80px 0 52px; }
  .tit_porfolio h4 {
    border-bottom: 2px solid #adadad;
    padding-bottom: 10px; }

.our_team_bg {
  background-color: #f2f2f2; }

.title_of_our_team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .title_of_our_team h4 {
    border-bottom: 2px solid #adadad;
    padding-bottom: 10px;
    margin: 54px 0 86px; }

.our_tit_span {
  color: #fc635e; }

.name_our_tm {
  font: 28px/26px PFEncoreSansPro_rg;
  color: #fc635e;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 26px; }
  .name_our_tm span {
    color: #565656;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px; }

.proff_our_tm {
  font: 20px/34px PFEncoreSansPro_lt;
  color: #565656;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 14px; }

.block_with_our_team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media screen and (max-width: 768px) {
    .block_with_our_team {
      display: block; } }

.box_our_team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap; }
  .box_our_team img {
    width: 175px;
    height: 190px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

.second_box_our {
  margin-left: -48px; }
  @media screen and (max-width: 768px) {
    .second_box_our {
      margin: 0 auto; } }

.social_of_team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 71px; }

.social_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.social_twetter,
.social_facebook,
.social_linkedin {
  width: 37px;
  height: 37px;
  display: block;
  margin: 0 10px; }

.social_twetter {
  background: url(../img/sprite.png) no-repeat; }
  .social_twetter:hover {
    background-position: 0 -39px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }

.social_facebook {
  background: url(../img/sprite.png) -38px 0 no-repeat; }
  .social_facebook:hover {
    background-position: -38px -39px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }

.social_linkedin {
  background: url(../img/sprite.png) -76px 0 no-repeat; }
  .social_linkedin:hover {
    background-position: -76px -39px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }

.quote_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 52px 0 74px; }

.slider_of_our_team {
  width: 100%;
  overflow: hidden;
  margin-bottom: 145px; }

.sliderbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media screen and (max-width: 768px) {
    .sliderbox {
      display: block; } }

.text_of_slide_box {
  color: #767676;
  font: 15px/21px PFEncoreSansPro_lt; }

.name_aut {
  font: 28px PFEncoreSansPro_rg;
  color: #fc635e; }
  .name_aut span {
    color: #818181; }

.proff_aut {
  color: #818181;
  font-size: 20px;
  font-weight: 300; }

.name_aut_slide_box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.avatar_slide_box {
  width: 165px;
  height: 185px; }
  @media screen and (max-width: 768px) {
    .avatar_slide_box {
      margin: 10px 0 10px; } }

.name_aut_slide_box,
.img_slide_box,
.txt_slide_box {
  width: 33.3%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .name_aut_slide_box,
    .img_slide_box,
    .txt_slide_box {
      width: 100%;
      text-align: center; } }
  .name_aut_slide_box p,
  .img_slide_box p,
  .txt_slide_box p {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .name_aut_slide_box img,
  .img_slide_box img,
  .txt_slide_box img {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

.full_map {
  width: 100%;
  height: 400px; }

.block_with_street {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 30px; }

.streer_of_team {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  z-index: 100; }

.bg_of_footer {
  background: url(../img/footer_bg.png) no-repeat;
  background-size: cover; }

.footer_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.logo_footer {
  margin: 78px 0 43px; }

.img_we_do {
  width: 100%; }
  @media screen and (max-width: 920px) {
    .img_we_do {
      margin-top: 40px; } }
