@font-face {
  font-family: OpenSans_lt;
  src: url(../fonts/OpenSansLight.woff); }

@font-face {
  font-family: OpenSans_rg;
  src: url(../fonts/OpenSansRegular.woff); }

@font-face {
  font-family: OpenSans_bd;
  src: url(../fonts/OpenSansBold.woff); }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf); }
