.tab_box {
  display: none; }

.tab_box.visible {
  display: block; }

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 83px; }
  @media screen and (max-width: 880px) {
    .tabs {
      display: block;
      text-align: center; } }
  .tabs li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    padding: 0 12px 20px;
    color: #656565;
    font: 33px OpenSans_rg; }
    @media screen and (max-width: 880px) {
      .tabs li {
        border: 0px solid;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .tabs li:hover {
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      border-bottom: 2px solid #add136; }
      @media screen and (max-width: 880px) {
        .tabs li:hover {
          border: 0px solid; } }
      .tabs li:hover p {
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        background-color: #add136;
        border: 1px solid #add136; }

.text_tab_content {
  padding: 10px; }

.current {
  border-bottom: 2px solid #add136; }
  @media screen and (max-width: 880px) {
    .current {
      border: 0px solid; } }
  .current p {
    background-color: #add136;
    border: 1px solid #add136; }

.img_of_tab_current {
  margin-right: 22px;
  width: 43px;
  height: 43px;
  border: 1px solid #adadad;
  background-color: #adadad;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  font: 27px OpenSans_rg; }
